<footer class = "footer-custom">
 <div class = "footer-mission">
 	<img class ="footer-logo" src = "../images/logo1.png">
 	<p class = "mission-statement">EARLY BIRDS - Mission: To make the best mats of all time</p>
 </div>

 <div class = "footer-social">
 </div>

 <div class = "footer-links">
 </div>
</footer>