<footer class = "footer-custom">
 <div class = "footer-3-col">
   <div class = "footer-mission">
   	<img class ="footer-logo" src = "../images/LogoWhite.png" />
   	<p class = "mission-statement">At SoleMat our mission is to make the greatest bath mats of all time</p>
    <a class="btn btn-primary btn-s" href="/about" role="button">Find out how</a>
   </div>
   <div class = "footer-social">
    <div class = "social-icon-holder">
      <a href = "https://www.facebook.com/early.birds.5454" class = "social-link-bottom">
        <img class = "social-icon" src = "../images/facbook.png"/>
        <p class = "social-side">Facebook</p>
      </a>
    </div>
    <div class = "social-icon-holder"> 
      <a href = "https://twitter.com/sole_mat" class = "social-link-bottom">
        <img class = "social-icon" src = "../images/twitter.png"/>
        <p class = "social-side">Twitter</p>
      </a>
    </div>
    <div class = "social-icon-holder">
      <a href = "https://www.linkedin.com/in/sole-mat-147580161/" class = "social-link-bottom">
        <img class = "social-icon" src = "../images/linkedin.png"/>
        <p class = "social-side">LinkedIn</p>
      </a>
    </div>
   </div>

   <div class = "footer-links">
    <ul class = "footer-links-list">
      <li class = "footer-link-item">
        <a class = "footer-link" href = "/">Home</a>
      </li>
      <li class = "footer-link-item">
        <a class = "footer-link" href = "/about">About</a>
      </li>
      <li class = "footer-link-item">
        <a class = "footer-link" href = "/products">Products</a>
      </li>
      <li class = "footer-link-item">
        <a class = "footer-link" href = "/purchase">Purchase</a>
      </li>
      <li class = "footer-link-item">
        <a class = "footer-link" href = "/contact">Contact Us</a>
      </li>
    </ul>
   </div>
  </div>

 <div class = "footer-copyright">
  <p class = "copyright-text footer-text">Copyright 2018 SoleMat Team.  Site developed by Jake Squire for BU Spring 2018 Core A2 Team 4</p>
 </div>
</footer>