<nav class = "navbar navbar-custom navbar-toggleable-md">
<div class = "wide-nav-wrapper">
  <button class="navbar-toggler navbar-toggler-right custom-nav-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars fa-lg color-custom" aria-hidden="true"></i></span>
  </button>
  <img class ="nav-logo" src = "../images/logo.png">
  <div class = "collapse navbar-collapse nav-collapse-custom" id="navbarNav">
    
    <ul class = "navbar-nav nav-flex-container">
      <li class = "nav-item nav-spacer-large">
        <a class = "nav-link custom-nav-font" href ="/">Home</a>
      </li>
      <li class = "nav-item nav-spacer-large">
        <a class = "nav-link custom-nav-font" href="/about">About</a>
      </li>
      <li class = "nav-item nav-spacer-large">
        <a class = "nav-link custom-nav-font" href="/products">Products</a>
      </li>
      <li class = "nav-item nav-spacer-large">
        <a class = "nav-link custom-nav-font" href="/purchase">Purchase</a>
      </li>
      <li class = "nav-item nav-spacer-large">
        <a class = "nav-link custom-nav-font" href="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</div>
</nav> 