<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
  <title>Early Birds</title>
</head>
 
<body class = "page-backing">
  {{>navbar}}
  <div class="container page-content">
    {{{body}}}
  </div>
  {{>footer}}
</body>
</html>