<div class = "header">
  <div class="hero-unit center">
    <h1 class = "p500-hero">Server Error</h1>
    <h4 class = "p500-sub-hero">500 - Server Side Failure</h2>
    <br>
    <br>
    <hr>
    <p>Oh no! Something went horribly wrong!</p>
  </div>
</div>