<div class="jumbotron-about-banner">
  <div class = "jumbotron-inner">
    <h1>TEAM SOLEMAT</h1>
  </div>
</div>

<div class="container page-content">
  <h2 class = "about-block-title">Meet the team!</h2>
  <hr />
  <div class = "team-pics">
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/Nacy.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Nancy</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/grant.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Grant</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/meghana.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Meghana</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/gabib.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Gabi</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/Alyssa.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Alyssa</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/matthew.JPG"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Matt</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/Cindy.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Cindy</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/Jake.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Jake</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
    <div class ="person-block">
      <div class = "person-image-holder">
        <img class = "person-image" src ="../images/steve.jpg"/>
      </div>
      <div class = "persons-bio-block">
        <h5 class = "persons-title">Stephen</h5>
        <p class = "persons-bio"></p>
      </div>
    </div>
  </div>
  <hr />

  <div class = "card-holder">
      <div class = "card-half">
          <h4 class = "card-title">Why we created the SoleMat</h4>
          <hr />
          <p class = "card-text">We created SoleMat to help you avoid unpleaseant chills and to stop tiptoeing around by providing you with our heated bathmat. We don't want to endure cold floors and neither should you!</p>

          <p class = "card-text">The team behind SoleMat is located in the heart of Boston and within your reach.  We are passionate individuals from all over the world who care about using our talents to deliver you the best product possible.</p>
      </div>

      <div class = "card-half">
          <h4 class = "card-title">Search SoleMat on Social Media</h4>
          <hr />
          <div class = "social-icon-holder">
            <a href = "https://www.facebook.com/early.birds.5454" class = "social-link social-link-about">
              <img class = "social-icon" src = "../images/facbook.png"/>
              <p class = "social-side">Facebook</p>
            </a>
          </div>
          <div class = "social-icon-holder"> 
            <a href = "https://twitter.com/sole_mat" class = "social-link social-link-about">
              <img class = "social-icon" src = "../images/twitter.png"/>
              <p class = "social-side">Twitter</p>
            </a>
          </div>
          <div class = "social-icon-holder">
            <a href = "https://www.linkedin.com/in/sole-mat-147580161/" class = "social-link social-link-about">
              <img class = "social-icon" src = "../images/linkedin.png"/>
              <p class = "social-side">LinkedIn</p>
            </a>
          </div>
      </div>
  </div>
</div>