<div class="jumbotron">
    <div class = "jumbotron-inner">
      <h1>EARLY BIRDS</h1>
      <h3>Premium Heated Bathmat</h3>
      <p><i>Because cold feet are for the birds</i><p>
      <a class="btn btn-custom-bath btn-lg" href="/products" role="button">Learn more</a>
    </div>
</div>

<div class="container page-content">
  <div class = "home-lower">
    <div class = "info-block">
      <div class="card" style="width: 18rem;">
        <img class=".card-img-top-custom" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary card-button">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img class=".card-img-top-custom" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary card-button">Go somewhere</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img class=".card-img-top-custom" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary card-button">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
