<div class="jumbotron hero-banner">
    <div class = "jumbotron-inner"> 
      <h1>SOLEMAT</h1>
      <h3>Premium Heated Bathmat</h3>
      <p><i>Heat for your feet</i><p>
      <a class="btn btn-custom-bath btn-lg" href="/products" role="button">Learn more</a>
    </div>
</div>
<div class="container page-content">
  <div class="jumbotron info-block-jumbo">
    <div class = "inner-jumbo">
      <img class = "inner-jumbo-pic" src = "../images/coldfloo.jpg"/>
    </div>
    <div class = "inner-jumbo">
      <p class = "inner-jumbo-text">Start the day right by giving your feet a warm fluffy hug instead of a cold embrace, and keep your feet going all day</p>
      <h4 class = "inner-jumbo-headline">- COLD FLOOR NO MORE -</h4>
    </div>
  </div>
  <div class = "card-holder">
    <div class = "card-half">
      <h4 class = "card-title">Who is the SoleMat for?</h4>
      <hr />
      <p class = "card-text">The SoleMat is for men and women who don't like standing on cold floors and relish in upper-end personal care products.</p>
    </div>
    <div class = "card-half">
      <h4 class = "card-title">Why the SoleMat?</h4>
      <hr /> 
      <p class = "card-text">SoleMat is a heated bath mat that offers adjustable heat and a long-lasting battery life and is unlike your regular bath mat.  It'll start your day off ON the right foot!</p>
    </div>
  </div>

   <div class = "call-to-action">
    <h5 class = "call-to-action-title">Don't let cold feet ruin your mornings</h5>
    <a class="btn btn-success btn-lg btn-home" href="/purchase" role="button">BUY NOW</a>
  </div>
</div>
