<div class="container page-content">
  <div class = "product-info-block">
    <h4 class = "product-title">SOLEMAT</h4>
    <div class = "product-info-sub-block">
      <div class = "product-images-block">
        <img class = "product-image" src ="../images/greymat.png"/>
        <img class = "product-image" src ="../images/blueprint.png"/>
      </div>
      <div class = "product-feature-block">
        <h5 class = "features-title">Product Features</h5>
        <hr />
        <ul class = "item-features">
          <li class ="item-feature">
            <span class = "list-feature"><i class="fas fa-check"></i><p class = "feature">Size: 17 inches x 24 inches</p></span>
          </li>
          <li class ="item-feature">
            <span class = "list-feature"><i class="fas fa-check"></i><p class = "feature">Adjustable temperature</p></span>
          </li>
          <li class ="item-feature">
            <span class = "list-feature"><i class="fas fa-check"></i><p class = "feature">Battery powered</p></span>
          </li>
          <li class = "item-feature">
            <span class = "list-feature"><i class="fas fa-check"></i><p class = "feature">Easy to remove, washable cover</p></span>
          </li>
          <li class = "item-feature">
            <span class = "list-feature"><i class="fas fa-check"></i><p class = "feature">Recyclable materials</p></span>
          </li>
        </ul>
        <hr />
        <div class = "call-to-action">
          <h5 class = "call-to-action-title">Don't let cold feet ruin your mornings</h5>
          <a class="btn btn-success btn-lg" href="/purchase" role="button">BUY NOW</a>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <div class = "channels-stores">
    <h4 class = "product-title">FIND THE SOLEMAT IN STORES NEAR YOU</h4>
    <hr />
    <div class = "channel-icon-block">
      <div class = "channel-icon-holder">
        <img class = "channel-icon" src = "../images/target.svg"/>
      </div>
      <div class = "channel-icon-holder">
        <img class = "channel-icon" src = "../images/cvs.png"/>
      </div>
      <div class = "channel-icon-holder">
        <img class = "channel-icon" src = "../images/kohls.png"/>
      </div>
      <div class = "channel-icon-holder">
        <img class = "channel-icon" src = "../images/amazon.png"/>
      </div>
      <div class = "channel-icon-holder">
        <img class = "channel-icon" src = "../images/independent.png"/>
        <p class = "independent-stores">Independent Stores</p>
      </div>
    </div>
  </div>
</div>